include ../mixins/sub-menu.pug

header.header
  .container-fluid
    .row.align-items-center.d-flex.justify-content-between
      .col-auto
        .inner-logo
          a(href="/")
            img(src=settingGeneral.logo, alt=settingGeneral.websiteName, style="max-height: 80px;")
      
      .col.flex-grow-1
        form(action="/search", method="get")
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa ..."
              class="form-control"
              name='keyword'
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm 

      .col-auto
        .inner-menu
          ul.list-inline.mb-0.text-end
            li.list-inline-item 
              a(href="/") Trang chủ
            li.list-inline-item.sub-menu
              - const pathProduct = "/products"
              a(href=pathProduct) Sản phẩm
                +sub-menu(layoutsProductsCategory, pathProduct)
            li.list-inline-item
              a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            if (user)
              li.list-inline-item
                a(href="/user/info") #{user.fullName}
              li.list-inline-item
                a(href="/user/logout") Đăng xuất
            else
              li.list-inline-item
                a(href="/user/register") Đăng ký
              li.list-inline-item
                a(href="/user/login") Đăng nhập
