extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center mb-4") Đăng nhập
        form(action=`${prefixAdmin}/auth/login`, method="post") 
          div(class="form-group mb-4")
            label(for="email" class="form-label fs-5 fw-bold mb-2") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            )
          div(class="form-group mb-4")
            label(for="password" class="form-label fs-5 fw-bold mb-2") Mật khẩu
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group mt-4")
            button(
              type="submit"
              class="btn btn-primary btn-block w-100"
            ) Đăng nhập
  script(src="/admin/js/script.js")
