extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Nhập mã OTP xác thực
        form(action="/user/password/otp", method="post") 
          div(class="form-group mt-3")
            label(for="email") Email
            input(
              type="text"
              class="form-control mt-3"
              id="email"
              name="email"
              value=email
              readonly
            )
          div(class="form-group mt-3")
            label(for="otp") Mã OTP
            input(
              type="text"
              class="form-control mt-3"
              id="otp"
              name="otp"
              required
            )
          div(class="form-group mt-4")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Xác nhận
