extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  h1(class="mb-4 text-center") #{pageTitle}
  +alert-success(5000)
  +alert-error(5000)

  .container-fluid
    .row
      .col-12
        form(
          action=`${prefixAdmin}/settings/general?_method=PATCH`
          method="post"
          enctype='multipart/form-data'
        )
          div(class="form-group mb-4")
            label(for="websiteName" class="form-label fw-bold") Tên website
            input(
              type="text"
              class="form-control"
              id="websiteName"
              name="websiteName"
              value=(settingGeneral ? settingGeneral.websiteName : "")
            )
          div(
            class="form-group mb-4"
            upload-image
          )
            label(for="logo" class="form-label fw-bold") Logo
            input(
              type="file"
              class="form-control-file"
              id="logo"
              name="logo"
              accept="image/*"
              upload-image-input
              value=(settingGeneral ? settingGeneral.logo : "")
            )
            img(
              src=(settingGeneral && settingGeneral.logo ? settingGeneral.logo : "")
              class="image-preview mt-2 d-block border rounded"
              style="max-width: 150px; max-height: 150px;"
              upload-image-preview
            )
          div(class="form-group mb-4")
            label(for="phone" class="form-label fw-bold") Số điện thoại
            input(
              type="text"
              class="form-control"
              id="phone"
              name="phone"
              value=(settingGeneral ? settingGeneral.phone : "")
            )
          div(class="form-group mb-4")
            label(for="email" class="form-label fw-bold") Email
            input(
              type="text"
              class="form-control"
              id="email"
              name="email"
              value=(settingGeneral ? settingGeneral.email : "")
            )
          div(class="form-group mb-4")
            label(for="address" class="form-label fw-bold") Địa chỉ
            input(
              type="text"
              class="form-control"
              id="address"
              name="address"
              value=(settingGeneral ? settingGeneral.address : "")
            )
          div(class="form-group mb-4")
            label(for="copyright" class="form-label fw-bold") Copyright
            input(
              type="text"
              class="form-control"
              id="copyright"
              name="copyright"
              value=(settingGeneral ? settingGeneral.copyright : "")
            )
          div(class="form-group text-center mt-4")
            button(
              type="submit"
              class="btn btn-primary btn-lg px-3"
            ) Cập nhật
